body{
    background-color: black;
}
--root{
    --back-color: background-color: rgb(31, 30, 30);
}
.nav{
    border: 2px solid white;
    width: 98vw;
    height:7vh;
    padding: 5px;
    box-sizing: border-box;
    margin: 5px auto;
    position: relative;
    
}
.leftnav{
    fill: white;
    /* border: 2px solid red; */
    width: 50vw;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.logo {
    /* width:50px; */
    height: 35px;
    padding-top: 6px;
    
}
.circle{
    /* border: 2px solid white; */
    width: 100px;
    height: 45px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    background-color: rgb(31, 30, 30);
    position: relative;
    left: 20px;
}
.home{
    padding: 10px;
    width: 25px;
}
.Searchbox{
    position: relative;
    left: 40px;
    /* border: 2px solid red; */
}
.slogo{
    position: absolute;
    z-index: 1;
    left: 15px;
    top: 10px;
    height: 30px;
    cursor: pointer;
}
.brow-s{
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 10px;
    height: 28px;
    cursor: pointer;
}
.nav input{
    width: 25vw;
    height: 6vh;
    background-color: rgb(31, 30, 30);
    display: flex;
    justify-content: flex-start;
    font-family: var(--encore-body-font-stack, var(--fallback-fonts, sans-serif)), sans-serif;
    font-weight:500;
    font-size: 1.05em;
    border: 2px  ;
    border-radius: 30px;
    padding-left: 60px;
    position: relative;
    color: white;
    /* z-index: -1; */
}
.nav label::before{
    background: url(search.svg);
}
.rightnav{
    /* border: 2px solid red; */
    display: flex;
    width: 50vw;
    margin: 5px;
    gap: 10px;
    height: 7vh;
}
.rightnav h1{
    color: white;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
}
.rn1{
    box-sizing: border-box;
    /* border: 2px solid yellow; */
    width:20vw;
    margin-right: 10px;
}
.rightnav .rn1 ul{
    list-style: none;
    color: white;
    gap: 10px;
    justify-content: flex-end;
}
.rn1 a{
    text-decoration: none;
    color: rgb(165, 161, 161);
    font-family: var(--encore-body-font-stack, var(--fallback-fonts, sans-serif)), sans-serif;
    font-weight: bolder;
    font-size: 1em;

}
.rn1 a:hover{
    color: white;
}
.rn1 a{}
.rn1 li:hover{
    scale: 1.09;
    color: white;
}
.rn2{
    box-sizing: border-box;
    width: 20vw;
    /* border: 2px solid red; */
    gap: 10px;
}
.rn2 ul{
    display: flex;
    list-style: none;
    justify-content: flex-start;
    gap: 10px;
    white-space: nowrap;
    align-items: center;
    

}
.rn2 a{
    text-decoration: none;
    color: rgb(165, 161, 161);  
    font-family: var(--encore-body-font-stack, var(--fallback-fonts, sans-serif)), sans-serif;
    font-weight: bolder;
    font-size: 0.9em;
}
.rn2 a:hover{
    color: white;
}
.rn2 li{
    gap: 10px;
}
.rn2 li img{
    height: 20px;
}
.button{
    box-sizing: border-box;
    border: 2px solid white;
    width: 8vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 30px;
    background-color: white;
}
.button:hover{
    scale: 1.05;
}
.button a{
    color: black;
    font-family: var(--encore-body-font-stack, var(--fallback-fonts, sans-serif)), sans-serif;
}
.rn2 li:hover{
    scale: 1.09;
    color: white;
}
.container{
    width: 100vw;
    min-height: 90vh;
    border: 2px solid red;
    position: relative;
    top: 800px;
    right: 1px
    
}
.container .box1-main{
    widtvw;
    min-height: 90vh;
}